:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navyblue: #2e2f42;
  --color-slate: #434455;
  --color-white: white;
  --color-cloud: #f4f4fd;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-container {
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--color-white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-position {
  padding: 0 15px;
  max-width: 1158px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1158px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-menu-link {
  color: var(--color-navyblue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-active {
  position: relative;
  color: var(--color-ocean);
}

.link-active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  display: block;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--color-ocean);
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris);
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  text-decoration: none;
}
.web-hover:hover,
.web-hover:focus {
  color: var(--color-ocean);
}

.studio-highlight {
  color: var(--color-navyblue);
}

.header-list {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-navyblue);
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.header-list-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.contact-link {
  color: var(--color-slate);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-ocean);
}

.layered-background {
  margin: auto;
  background-color: var(--color-navyblue);
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}

.header-index {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.button-header {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--color-iris);
  cursor: pointer;
  display: block;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-header:hover,
.button-header:focus,
.button-style:hover,
.button-style:focus {
  background: var(--color-ocean);
  color: var(--color-white);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.nav-button {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background: var(--color-cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-two,
.section-five {
  padding: 120px 0;
}

.section-tree {
  padding-bottom: 120px;
}

.list-wrapper {
  display: flex;
  list-style: none;
  gap: 24px;
}

.list-style {
  flex-basis: calc((100% - 72px) / 4);
  max-width: calc((100% - 72px) / 4);
}

.icon-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--color-cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

.icon-list {
  width: 64px;
  height: 64px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.6;
  background-color: var(--color-white);
}

.background {
  background-color: var(--color-white);
}

.title-style {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.photo-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

.location {
  text-align: center;
}

.section-four {
  background-color: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-list-style {
  background-color: var(--color-white);
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-list-wrapper {
  padding: 32px 0px;
}

.name-list {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-navyblue);
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.position-name {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-align: center;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-icon {
  width: 40px;
  height: 40px;
  list-style: none;
  gap: 24px;
  margin-top: 8px;
}

.team-social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon-link:hover,
.team-social-icon-link:focus {
  background-color: var(--color-ocean);
}

.social-icon-color {
  fill: #f4f4fd;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
}

.photo-list-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
  margin-bottom: 8px;
}

.photo-list-type {
  line-height: 1.5;
  color: var(--color-slate);
  letter-spacing: 0.02em;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.link-decoration {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  flex-basis: calc((100% - 48px) / 3);
}

.list-style-portfolio {
  flex-basis: calc((100% - 48px) / 3);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-link {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  top: 0;
  font-size: 16px;
  color: var(--color-cloud);
  line-height: 1.5;
  letter-spacing: 0.32px;
  position: absolute;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-decoration:hover .overlay-text,
.link-decoration:focus .overlay-text {
  transform: translateY(0%);
}

.link-decoration:hover,
.link-decoration:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-style {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-width: 100%;
  height: auto;
}

.customers {
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-navyblue);
  margin-bottom: 72px;
}

.logo-icon {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.logo-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon-link:hover,
.logo-icon-link:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean);
}

.logo-icon-color {
  fill: currentColor;
}

.footer-container {
  padding: 100px 0;
  background: var(--color-navyblue);
}

.footer-logo-wrapper {
  margin-right: 120px;
}

.footer-position {
  display: flex;
  align-items: baseline;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1158px;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris);
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
  text-decoration: none;
}
.footer-highlight {
  color: var(--color-cloud);
}

.footer-text {
  color: var(--color-cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer-social-position {
  display: flex;
  gap: 16px;
}

.footer-social-icon {
  height: 40px;
  width: 40px;
  list-style: none;
  gap: 16px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--color-green);
}

.footer-social-icon-color {
  fill: var(--color-cloud);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--color-ocean);
  border: none;
  fill: #ffffff;
}

.icon-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
  margin-bottom: 16px;
}

.contact-modal {
  margin-bottom: 8px;
}

.title-contact-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  display: block;
  margin-bottom: 4px;
}

.wrapper-contact-modal {
  position: relative;
}

.contact-info {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info:focus,
.contact-info:hover {
  border-color: #4d5ae5;
}

.icon-contact-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-contact-modal:focus-within {
  fill: #4d5ae5;
}

.comment-modal {
  margin-bottom: 16px;
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus,
.text-area:hover {
  border-color: #4d5ae5;
}

.wrapper-terms {
  margin-bottom: 24px;
}

.form-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 8px;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.icon-click {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .form-label .checkbox {
  background-color: var(--color-ocean);
  fill: var(--color-cloud);
  border: none;
}

.privacy-policy {
  color: var(--color-iris);
}

.button-send {
  display: block;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-iris);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.button-send:hover {
  background: var(--color-ocean);
  color: var(--color-white);
}

.form-container {
  margin-left: 80px;
}

.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.input-email {
  height: 40px;
  width: 264px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
}

.input-email::placeholder {
  color: var(--color-white);
}

.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-iris);
  border: none;
  border-radius: 4px;
}

.frame {
  margin-left: 16px;
}
